body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  #divCall{
      display: none;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(104, 94, 94, 0.426);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ff0707;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    width: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  #footer{
      font-size: 12px;
      text-align: center;
     
      position: relative;
      top: 45%;
  }

  .button_slide {
    color: rgb(0, 0, 0);
    /* border: 2px solid rgb(216, 2, 134); */
    border-radius: 5px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #10d802bc;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #23bc08;
  }


  .modal {
    display: block;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}

/* Modal Content/Box */
#idCont{
color: #ff0707;
}
#tModal {
    width: 70%;
    text-align: left;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: medium;
}

.modal-content {
    background-color: #fefefe;
    margin: 6% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 55%;
    /* Could be more or less, depending on screen size */
    height: 70%;
}

#mUl {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    font-family: "Lucida Console", Monaco, monospace;
}

#ulDois{
    display: flex;
    gap: 15px;
    list-style-type: none;
}
#ulDois li {
    width: 25%;
}
#ulTres{
  position: relative;
  left: 15%;
  top: 4%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style-type: none;
  font-family: "Lucida Console", Monaco, monospace;
}
#ulTres li{
  /* border: 2px solid red; */
    width: 40%;
    position: relative;
    right: 22%;
}
#ulQuatro{

  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style-type: none;
  font-family: "Lucida Console", Monaco, monospace;
}
#ulQuatro li{
    width: 25%;
}

#mSelect {
    font-family: "Lucida Console", Monaco, monospace;
    width: 45%;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* tool tip */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  font-size: small;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* fim */

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}